.user-bar {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center align the user bar contents */
    width: 100%;
    margin-top: 40px; /* Space between user bar and content */
  }
  
  .user-profile {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the user details and avatar */
    margin-bottom: 20px;
  }
  
  .user-avatar img {
    width: 100px; /* Smaller profile picture */
    height: 100px;
    border-radius: 50%; /* Circular avatar */
    margin-bottom: 10px; /* Space between avatar and user info */
  }
  
  .user-info {
    text-align: left; /* Center the user info text */
    color: white; /* White text */
    padding-bottom: 75px;
  }
  
  .previously-watched {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns for movies */
    gap: 10px; /* Space between movies */
    row-gap: 10px;
    width: 100%;
    padding: 0px 20px; /* Padding on the sides */
    color: black;
  }
  
  .previously-watched .movie {
    width: 90px; /* Adjust the width of the movie */
    height: 135px; /* Adjust the height based on aspect ratio */
  }

  .previously-watched-label{
    color: white;
  }

  .user-name{
    color: white;
    padding-bottom: 50px;
  }
  