.column {
    flex: 1 1 500px; /* Flex grow, flex shrink, flex basis */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create four columns */
    gap: 15px;
    padding: 15px;
    max-width: 1200px;
    background-color: #34344A;
    border-radius: 5px;
}

